body {
    /* background-color: rgba(222, 251, 248, 0.993); */

    background-color: #fff;
    height: 100%;
    text-transform: initial;

}

a {
    text-decoration: none;
}

h2 h3 {
    font-family: raleway;
    font-weight: 100;
}

.name {
    color: #E31B6D;
}

.mynav {
    font-family: 'raleway-bold';
    text-transform: capitalize;
    font-size: 20px;
    background-color: #1E242C;
    border-bottom: 3px solid #04C2C9;
    margin-bottom: 14px;
}

.selected:hover {
    transition-duration: .5s;
    color: rgb(0, 132, 255) !important;
}

.mynav li {
    display: inline;
    padding: 8px 30px 12px 0px;
    text-align: center;
}

.mynav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 10px;
}

.mynav li a {
    text-transform: capitalize;
    font-weight: 200;
    text-decoration: none;
    color: #fff;
}

.hero-image {
    border: 0.3px solid rgb(0, 153, 255);
    background-image: url("/assets/img/ portfolio-image.jpeg");
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 25px;
    margin: 0 auto;
}

.aboutme {
    font-family: raleway-bold;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 154px;
    background-color: white;
    border-radius: 18px;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
}

#myportfolio {
    font-family: raleway-bold;
    white-space: initial;
    /* line-break: auto; */
    /* font-size: 16px; */
    font-size: 20px;
}

#myportfolio h1 {
    font-family: raleway-bold sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 25pt;
    /* text-decoration: underline; */
}

/* contact page */
.contact-container {
    display: block;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: 0;
    padding: 10px 15px;
    background-color: #252934;
    font-size: 12pt;
    margin-bottom: 3px;
    /* color: #fff; */
}

.contact-container h2 {
    font-family: 'raleway-bold';
    color: #fff;
    text-align: center;

}

.contact-container p {
    color: #04C2C9;
    margin-bottom: 40px;
    text-align: center;
}

.contact-container form {

    width: 90%;
}

.contact-container input,
.contact-container textarea {
    display: block;
    width: 100%;
    border: 0.5px solid;
}

.contact-container input {
    cursor: text;
    caret-color: #fff;
    background-color: #1E242C;
    padding: 10px 10px;
    margin: 10px 0 30px 0;

}

input:focus {
    border: 3px solid #fff;
}

textarea:focus {
    border: 3px solid #fff;
}


.contact-container textarea {
    background-color: #1E242C;
    padding: 10px 10px;
    margin: 10px 0 30px 0;
    height: 200px;
    border-radius: 8px;
}

.contact-container button {
    background-color: #252934;
    padding: 10px 20px;
    color: #fff;

    font-weight: 200;
    cursor: pointer;
    border-radius: 4px;
}

.contact-container button:hover {
    background-color: #04C2C9;
}

/* ------- FOOTER ---------*/

.footer {
    margin-top: 16px solid #04C2C9;
    padding: 16px 0;
    /* background-color: rgba(0, 0, 0, 0.794); */
    color: #000;
    text-align: center;
}



.footer-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
}

.footer-list li {
    padding: 8px 16px 8px 0px;
    font-size: 18px;
    font-weight: 700;
}

.footer-list li a {
    color: rgb(255, 255, 255, 0.8);
    text-decoration: none;
}

.media-icons {
    display: flex;
    justify-content: center;
    list-style: none;


}

.footer-copyright {
    text-align: center;
}

.projects {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
.projects img {
    width: 400px;
    border: 2px solid #04C2C9;
    ;
    /* margin: auto; */
    border-radius: 5px;
}

.highlight {
    color: rgb(255, 94, 0);
}